<div class="row">
   <div class="col-lg-6 mb-30">
      <div class="ts-grid-box ts-grid-content">
         <a class="post-cat ts-green-bg" href="#">Sports</a>
         <div class="ts-post-thumb">
            <a href="#">
                     <img class="img-fluid" src="assets/images/news/sports/sports4.jpg" alt="">
            </a>
         </div>
         <div class="post-content">
            <h3 class="post-title md">
               <a href="#">20 More Crypto Adoption Cases Throughout the World</a>
            </h3>
            <ul class="post-meta-info">
               <li>
                  <a href="#">
                       Donald Ramos
                     </a>
               </li>
               <li>
                  <i class="fa fa-clock-o"></i>
                  March 21, 2019
               </li>
            </ul>
            <p>The clock is ticking for e-cig companies underage users The clock is ticking for e-cig </p>
         </div>
      </div>
   </div>
   <div class="col-lg-6 mb-30">
      <div class="ts-grid-box ts-grid-content">
         <a class="post-cat ts-orange-bg" href="#">Travel</a>
         <div class="ts-post-thumb">
            <a href="#">
                     <img class="img-fluid" src="assets/images/news/travel/travel3.jpg" alt="">
            </a>
         </div>
         <div class="post-content">
            <h3 class="post-title md">
               <a href="#">Beats did announce something today, after all</a>
            </h3>
            <ul class="post-meta-info">
               <li>
                  <a href="#">
                       Donald Ramos
                     </a>
               </li>
               <li>
                  <i class="fa fa-clock-o"></i>
                  March 21, 2019
               </li>
            </ul>
            <p>The clock is ticking for e-cig companies underage users The clock is ticking for e-cig </p>
         </div>
      </div>
   </div>
   <div class="col-lg-6 mb-30">
      <div class="ts-grid-box ts-grid-content">
         <a class="post-cat ts-yellow-bg" href="#">Food</a>
         <div class="ts-post-thumb">
            <a href="#">
                     <img class="img-fluid" src="assets/images/news/foods/food2.jpg" alt="">
            </a>
         </div>
         <div class="post-content">
            <h3 class="post-title md">
               <a href="#">Easy teriyaki chicken with broccoli</a>
            </h3>
            <ul class="post-meta-info">
               <li>
                  <a href="#">
                       Donald Ramos
                     </a>
               </li>
               <li>
                  <i class="fa fa-clock-o"></i>
                  March 21, 2019
               </li>
            </ul>
            <p>The clock is ticking for e-cig companies underage users The clock is ticking for e-cig </p>
         </div>
      </div>
   </div>
   <div class="col-lg-6 mb-30">
      <div class="ts-grid-box ts-grid-content">
         <a class="post-cat ts-orange-bg" href="#">Travel</a>
         <div class="ts-post-thumb">
            <a href="#">
                     <img class="img-fluid" src="assets/images/news/travel/travel2.jpg" alt="">
            </a>
         </div>
         <div class="post-content">
            <h3 class="post-title md">
               <a href="#">Tesla just lost its head of global finance</a>
            </h3>
            <ul class="post-meta-info">
               <li>
                  <a href="#">
                       Donald Ramos
                     </a>
               </li>
               <li>
                  <i class="fa fa-clock-o"></i>
                  March 21, 2019
               </li>
            </ul>
            <p>The clock is ticking for e-cig companies underage users The clock is ticking for e-cig </p>
         </div>
      </div>
   </div>
   <div class="col-lg-6 mb-30">
      <div class="ts-grid-box ts-grid-content">
         <a class="post-cat ts-pink-bg" href="#">Music</a>
         <div class="ts-post-thumb">
            <a href="#">
                     <img class="img-fluid" src="assets/images/news/music/music1.jpg" alt="">
            </a>
         </div>
         <div class="post-content">
            <h3 class="post-title md">
               <a href="#">Google vote-shifting threatens both right & left</a>
            </h3>
            <ul class="post-meta-info">
               <li>
                  <a href="#">
                       Donald Ramos
                     </a>
               </li>
               <li>
                  <i class="fa fa-clock-o"></i>
                  March 21, 2019
               </li>
            </ul>
            <p>The clock is ticking for e-cig companies underage users The clock is ticking for e-cig </p>
         </div>
      </div>
   </div>
   <div class="col-lg-6 mb-30">
      <div class="ts-grid-box ts-grid-content">
         <a class="post-cat ts-purple-bg" href="#">Health</a>
         <div class="ts-post-thumb">
            <a href="#">
               <img class="img-fluid" src="assets/images/news/health/health4.jpg" alt="">
            </a>
         </div>
         <div class="post-content">
            <h3 class="post-title md">
               <a href="#">Help us make mfs better with our reader survey</a>
            </h3>
            <ul class="post-meta-info">
               <li>
                  <a href="#">
                       Donald Ramos
                     </a>
               </li>
               <li>
                  <i class="fa fa-clock-o"></i>
                  March 21, 2019
               </li>
            </ul>
            <p>The clock is ticking for e-cig companies underage users The clock is ticking for e-cig </p>
         </div>
      </div>
   </div>
   <div class="col-lg-6 mb-30">
      <div class="ts-grid-box ts-grid-content">
         <a class="post-cat ts-pink-bg" href="#">Fashion</a>
         <div class="ts-post-thumb">
            <a href="#">
                     <img class="img-fluid" src="assets/images/news/fashion/fashion1.jpg" alt="">
            </a>
         </div>
         <div class="post-content">
            <h3 class="post-title md">
               <a href="#">Clothing and Accessories for the Fashionable</a>
            </h3>
            <ul class="post-meta-info">
               <li>
                  <a href="#">
                       Donald Ramos
                     </a>
               </li>
               <li>
                  <i class="fa fa-clock-o"></i>
                  March 21, 2019
               </li>
            </ul>
            <p>The clock is ticking for e-cig companies underage users The clock is ticking for e-cig </p>
         </div>
      </div>
   </div>
   <div class="col-lg-6 mb-30">
      <div class="ts-grid-box ts-grid-content">
         <a class="post-cat ts-orange-bg" href="#">Travel</a>
         <div class="ts-post-thumb">
            <a href="#">
                     <img class="img-fluid" src="assets/images/news/travel/travel4.jpg" alt="">
            </a>
         </div>
         <div class="post-content">
            <h3 class="post-title md">
               <a href="#">Help us make mfs better with our reader survey</a>
            </h3>
            <ul class="post-meta-info">
               <li>
                  <a href="#">
                       Donald Ramos
                     </a>
               </li>
               <li>
                  <i class="fa fa-clock-o"></i>
                  March 21, 2019
               </li>
            </ul>
            <p>The clock is ticking for e-cig companies underage users The clock is ticking for e-cig </p>
         </div>
      </div>
   </div>
</div>