<!-- top bar start -->
<section class="top-bar v4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center md-center-item">
                <div class="ts-temperature">
                    <i class="icon-weather"></i>
                    <span>25.8
                        <b>c</b>
                    </span>
                    <span>Dubai</span>

                </div>

                <ul class="ts-top-nav">
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Forums</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Advertisement</a>
                    </li>
                </ul>

            </div>
            <!-- end col-->

            <div class="col-lg-6 text-right align-self-center">
                <ul class="top-social">
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-vimeo-square"></i>
                        </a>
                    </li>
                    <li class="ts-date">
                        <i class="fa fa-clock-o"></i>
                        <!-- Sunday, August 24 -->
                        {{ currentDate | date: 'EEE d, MMM YY' }}
                    </li>
                </ul>
            </div>
            <!--end col -->


        </div>
        <!-- end row -->

    </div>
</section>
<!-- end top bar-->