<!-- header nav start-->
<header class="header-standerd">
    <div class="container">
        <div class="row">

            <!-- logo end-->
            <div class="col-lg-12">
                <!--nav top end-->
                <nav class="navigation ts-main-menu navigation-landscape">
                    <div class="nav-header">
                        <a class="nav-brand mobile-logo visible-xs" href="/">
                            <!-- <img src="assets/images/footer_logo.png" alt=""> -->
                        </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <!--nav brand end-->

                    <div class="nav-menus-wrapper clearfix">
                        <!--nav right menu start-->
                        <ul class="right-menu align-to-right">
                            <li>
                                <a href="#">
                                    <i class="fa fa-user-circle-o"></i>
                                </a>
                            </li>
                            <li class="header-search">
                                <div class="nav-search">
                                    <div class="nav-search-button">
                                        <i class="icon icon-search"></i>
                                    </div>
                                    <form>
                                        <span class="nav-search-close-button" tabindex="0">✕</span>
                                        <div class="nav-search-inner">
                                            <input type="search" name="search" placeholder="Type and hit ENTER">
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <!--nav right menu end-->

                        <!-- nav menu start-->
                        <ul class="nav-menu">
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <li *ngFor="let menu of menus">
                                <a href="#">{{ menu.menuName }}</a>
                                <ul class="nav-dropdown" *ngIf="menu.subMenuNames.length > 0">
                                    <li *ngFor="let sub of menu.subMenuNames">
                                        <a href="#">{{ sub | titlecase }}</a>
                                    </li>
                                </ul>
                                <!-- <div class="megamenu-panel" *ngIf="menu.subMenuNames.length > 0">
                                    <div class="megamenu-tabs">
                                        <ul class="megamenu-tabs-nav">
                                            <li *ngFor="let sub of menu.subMenuNames">
                                                <a href="#">{{ sub | titlecase }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div> -->
                            </li>

                        </ul>
                        <!--nav menu end-->
                    </div>
                </nav>
                <!-- nav end-->
            </div>
        </div>
    </div>
</header>
<!-- header nav end-->
